<!DOCTYPE html>
<html>
   
<head>
    <title>QuantumFy</title>
    <link href="../../../public/css/style.css" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
    <meta name="keywords" content="papers,blog,login">
    <meta name="author" content="Liandra Giacomine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../../public/js/individual_ranking.js"></script>
</head>
    
<body>

<!-- ******* HEADER ********* -->
<header>
<div id="header">

<!-- Title -->
<div id="above_menu">
<h2 id="title">QuantumFy</h2>

    <!-- Welcome/Register Section -->
    
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <br>
        <a id="logout" href="/logout"><i>Log out</i></a>
        <div align="right" id="register">
            <a href="/register/user"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>

    <!-- End of top section -->
<hr class="menu_spacing">
    
<!-- Menu -->
<nav class="menu">
    <ul>
        <li><a class="home_href" href="/">Home</a></li>
        <li><a href="/papers/index">Papers</a></li>
        <li><a href="/committee/index">Committee</a></li>
        <li><a href="/summaries/index" class="within_menuspace_s">Summaries</a></li>
        <li><a href="/blog/index" class="within_menuspace_b">Blog</a></li>
        <div class="dropdown_menu_login">
            <a href="/login/user" id="login_button" class="login_href">Login</a>
            <div class="login_content">
                <a href="/register/user">Register</a>
            </div>
        </div>
    </ul>
</nav>  
<!-- Search Bar -->
    
<div align="middle" id="main_search">
<form method="get">
<input type="search" name="search" id="main_search_box" placeholder="Search..." />
<button type="submit" value="Search" id="main_search_button"><img src="../../../public/img/search_button.svg" alt="Register" height="15" width="15"></button>
</form>
</div>
</div>
</header>
    
<!-- SPACING so that content appears below menu -->
<b id="user_type"><%= JSON.stringify(user_type) %></b>
<div id="blog_space"></div>
    
<!-- ****** END OF HEADER ***** -->  
        
<div id="blog_margin">
<b id="committee_name"></b>
<ol id="committee_list">
</ul>
</div>



<!-- IF USER HAS LOGGED IN ALLOW COMMENTING AND WELCOME THEM
OTHERWISE SHOW THE SIGN UP BUTTON AND LOG IN TO COMMENT -->

<script type="text/javascript">
    var url = window.location.href;
    var end_of_str = url.length;
    committee_name_id = url.slice(url.indexOf("/individual_ranking/") + 20, end_of_str);
    committee_name = committee_name_id.slice(0, committee_name_id.indexOf("/"));
    committee_name = committee_name.replace("_"," ");
    committee_name = committee_name.replace("%20"," ");
    $("#committee_name").html(committee_name);
    $("#committee_name").css({"font-family":"arial", "font-size":"1.5em", "margin":"20px"});
    var user_welcome = $("#welcome_user").html();
    filter_user_welcome = user_welcome.replace(/\"/g, "");
    //IF USER HASNT LOGGED IN THEN SHOW SIGN UP BUTTON
    if (filter_user_welcome  == "Welcome ") {
        $("#welcome_user").remove();
        $("legend").remove();
        $("#blog_form").remove();
        $("#logout").remove();
    } else {
        $(".login_href").attr("href","/login/logout_first");
        //IF USER IS LOGGED IN
        //REMOVE LOGIN TO COMMENT
        $("#login_to_blog").remove();
        //ELSE SHOW "WELCOME USERNAME"
        $("#register").remove();
        $("#welcome_user").html(filter_user_welcome);
        //ALLOW USERS TO ADD COMMENTS
        user = filter_user_welcome.slice(filter_user_welcome.indexOf(" ") + 1,filter_user_welcome.length)
        var d = new Date();
        date = d.getDate() + "-" + d.getMonth() + "-" + d.getFullYear();
    }
    
    //SEARCH SCRIPT 
            
        $("#main_search_button").click(function(){
            var keyword = $("#main_search_box").val();
            window.open("/papers/search/" + keyword);
        });
        
        //If its an admin user then link home to admin home
    user_type = $("#user_type").html();
    if (user_type > 2) {
        $(".home_href").attr("href", "/admin/index");
    }

</script>

</div>
    
</body>
</html>
