<!DOCTYPE html>
<html>
<head>
<title>QuantumFy</title>
<link href="../../public/css/style.css" type="text/css" rel="stylesheet"/>
<meta charset="UTF-8">
<meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
<meta name="keywords" content="papers,blog,login">
<meta name="author" content="Liandra Giacomine">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>

<!-- ******* HEADER ********* -->
<header>
<div id="header">

<!-- Title -->
<div id="above_menu">
    <h2 id="title">QuantumFy</h2> <!-- Welcome/Register Section -->
    
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <br>
        <a id="logout" href="/logout"><i>Log out</i></a>
        <div align="right" id="register">
            <a href="/register/user"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>

    <!-- Show section according with if user if logged in -->
    <script type="text/javascript">
        var user_welcome = $("#welcome_user").html();
        filter_user_welcome = user_welcome.replace(/\"/g, "");
        //IF USER IS NOT LOGGED IN SHOW BUTTON
        if (filter_user_welcome  == "Welcome ") {
            $("#welcome_user").remove();
            $("#logout").remove();
         //IF USER IS LOGGED IN SHOW WELCOME AND LOGOUT OPTION
        } else {
            $("#register").remove();
            $("#welcome_user").html(filter_user_welcome);
        }

    </script>

    <!-- End of top section -->

<hr class="menu_spacing">

<!-- Menu -->
<nav class="menu">
        <ul>
            <li><a class="home_href" href="/">Home</a></li>
            <li><a href="/papers/index">Papers</a></li>
            <li><a href="/committee/index">Committee</a></li>
            <li><a href="/summaries/index" class="within_menuspace_s">Summaries</a></li>
            <li><a href="/blog/index" class="within_menuspace_b">Blog</a></li>
            <div class="dropdown_menu_login">
                <a href="/login/user" id="login_button" class="login_href">Login</a>
                <div class="login_content">
                    <a href="/register/user">Register</a>
                </div>
            </div>
        </ul>
    </nav>  
<!-- Search Bar -->

<div align="middle" id="main_search">
<form method="get">
<input type="search" name="search" id="main_search_box" placeholder="Search..." />
<button type="submit" value="Search" id="main_search_button"><img src="../../public/img/search_button.svg" alt="Search Button" height="15" width="15"></button>
</form>
</div>
</div>
</header>

<!-- SPACING so that content appears below menu -->
<b id="user_type"><%= JSON.stringify(user_type) %></b>
<div id="login_space"></div>

<!-- ****** END OF HEADER ***** -->  
<div id="login_type_section">
    <a id="user_button" href="/login/user"><button class="login_type_button" id="button_active">User</button></a>
    <a id="author_button" href="/login/author"><button class="login_type_button">Author</button></a>
    <a id="admin_button" href="/login/admin"><button class="login_type_button">Admin</button></a>
</div>

<br><hr><br>

<div id="loginField">
<fieldset>
<legend class="form_legend"><h2 >Login</h2></legend>
<form class="loginForm" action="/userlogin" method="post">
<label for="username">Username/Email: </label>
<input id="username" type="text" name="username" size="15" maxlength="30" /><br />
<label for="password">Password:</label>
<input id="password" type="password" name="password" size="15" maxlength="30" /><br><br>
<input type="submit" name="loginButton" value="Login">

<div id="popup" class="overlay">
    <div class="popup">
		<h2>Incorrect Username or Password</h2>
    	<a class="close" href="#popup">×</a>
    	<div class="content">
           Try again
    	</div>
    </div>
</div>

<p id="wrong_login"><%= JSON.stringify(err) %></p>
    
<h5>Or <a href="/register/user">register</a> now if you are not yet a member</h5>
</form>
</fieldset>
</div>

<script>
    //If form hasnt yet been filled and sent
    res = $("#wrong_login").html();
    res = res.replace(/\"/g, "");
    if (res == "None"){
        $("#popup").remove();
        $("#wrong_login").remove();
    } else if (res == "Wrong login"){
        $("#wrong_login").remove();
        $("#username").css({"border": "2px solid red"});
        $("#password").css({"border": "2px solid red"});
        var popup = document.getElementById("popup");
        popup.classList.toggle("show");
    }
   //SEARCH SCRIPT -->
            
        $("#main_search_button").click(function(){
            var keyword = $("#main_search_box").val();
            window.open("/papers/search/" + keyword);
        });

        //IF ADMIN CHANGE HOME TO ADMIN HOME
        user_type = $("#user_type").html();
    if (user_type > 2) {
        $(".home_href").attr("href", "/admin/index");
    }
            
</script>



</body>
</html>

