<!DOCTYPE html>
<html>
   
<head>
    <title>QuantumFy</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
    <meta name="keywords" content="papers,blog,login">
    <meta name="author" content="Liandra Giacomine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../javascript/paper_topics.js"></script>
</head>
    
<body>
    
<!-- ******* HEADER ********* -->
<header>
<div id="header">
    
<!-- Title -->
<div id="above_menu">
<h2 id="title">QuantumFy</h2>
<!-- Register button -->

<div align="right" id="register">
<a href="../register.html" class="#top"><button align="right"><i>Sign up</i></button></a>
</div>
    </div>
    
<hr class="menu_spacing">
    
<!-- Menu -->
    
<nav class="menu">
    <ul>
        <li><a href="../index.php">Home</a></li>
        <div class="dropdown_papers">
            <button class="papers_button"><a href="index.php" class="active">Papers</a></button>
              <div class="papers_content">
                <a href="metrology.php">Metrology</a>
                <a href="thermodynamics.php">Thermodynamics</a>
                <a href="cryptography.php">Cryptography</a>
                <a href="shannon.php">Shannon Theory</a>
                <a href="computing.php">Computing</a>
                <a href="black_hole.php">Black Hole</a>
                <a href="correlations.php">Correlations</a>
              </div>
            </div>
        <li><a href="../blog.php">Blog</a></li>
        <li><a href="../login.php">Login</a></li>
        <li><a href="../about.php">About</a></li>
    </ul>
</nav> 
    
<!-- Search Bar -->
    
<div align="middle" id="main_search">
<form action="search.php" method="get">
<input type="search" name="search" id="main_search_box" placeholder="Search..." />
<button type="submit" value="Search" id="main_search_button"><img src="../images/search_button.svg" alt="Register" height="15" width="15"></button>
</form>
</div>
</div>
</header>
    
<!-- SPACING so that content appears below menu -->

<div id="paper_space"></div>
    
<!-- ****** END OF HEADER ***** -->  

<section class="topic_section">
    <h3><p>Topics</p></h3>
        <ul id="topics">
        <li><a href="metrology.php">Quantum Sensing and Metrology</a></li>
        <li><a href="thermodynamics.php">Quantum Thermodynamics</a></li>
        <li><a href="cryptography.php" class="active">Quantum Cryptography</a></li>
        <li><a href="shannon.php">Quantum Shannon Theory</a></li>
        <li><a href="computing.php">Quantum Computing</a></li>
        <li><a href="black_hole.php">Relativistic and Black-Hole Quantum Information</a></li>
        <li><a href="correlations.php">Quantum Correlations</a></li>
        </ul>
</section>
<hr/>
<h2 class="section_title">Quantum Cryptography</h2>
    
<section class="topic_section">
<h3 id="section_title">Trending Papers</h3>
<div id="paper_main_table">
</div> 
</section>
    
    <div class="page_bottom">
<a href="#top">Back to top</a>
</div>
    
</body>

	
</html>

