<!DOCTYPE html>
<html>
   
<head>
    <title>QuantumFy</title>
    <link href="../../../public/css/style.css" type="text/css" rel="stylesheet"/>
    <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
    <meta name="keywords" content="papers,blog,login">
    <meta name="author" content="Liandra Giacomine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../../public/js/individual_paper.js" ></script>
</head>

<body>
    

<!-- ******* HEADER ********* -->
<header>
<!-- Register button -->
<div id="header">
    
<!-- Title -->
<div id="above_menu">
<h2 id="title">QuantumFy</h2>
    <!-- Welcome/Register Section -->
    
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <br>
        <a id="logout" href="/logout"><i>Log out</i></a>
        <div align="right" id="register">
            <a href="/register/user"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>


    <!-- End of top section -->

<hr class="menu_spacing">
    
<!-- Menu -->
<nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/papers/index" class="active">Papers</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/committee">Committee</a></li>
        <div class="dropdown_menu_login">
            <button class="login_button"><a href="/login/user" >Login</a></button>
              <div class="login_content">
                <a href="/register/user">Register</a>
        </div>
    </ul>
</nav> 

<!-- Search Bar -->
        
    <div align="middle" id="main_search">
    <form action="search.php" method="get">
    <input type="search" name="search" id="main_search_box" placeholder="Search..." />
    <button type="submit" value="Search" id="main_search_button"><img src="../../../public/img/search_button.svg" alt="Register" height="15" width="15"></button>
    </form>
    </div>
    </div>
    </header>
        
    <!-- SPACING so that content appears below menu -->
    <b id="user_type">Welcome <%= JSON.stringify(user_type) %></b>
    <div id="paper_space"></div>
        
    <!-- ****** END OF HEADER ***** --> 
    
    <h2 class="paper_title"></h2>
    <h4 class="paper_authors"></h4>
    <h4 class="paper_type"></h4>
    <h4><a href="" class="paper_pdf"></a></h4>
    <h4 class="paper_description"></h4>
    <hr>
    <div class="container" style="height:50px;"><img id="likes" src="../../../public/img/beforelike.png" alt="Register" height="50" width="50"><div class="paper_likes"></div></div>
    
    <div class="container"><img id="stars" src="../../../public/img/beforestar.png" alt="Register" height="50" width="50"><div class="paper_stars"></div></div>
    <hr>
    <section class="topic_section">
        <div id="paper_comments_table">
        </div>
    </section>

        
    <div id="post_question">
        <legend><h3>Enter your comment below:</h3></legend>
        <form action="" id ="comments_form" method="post">
        <textarea name="post_comment" cols="60" rows="10"></textarea><br>
        <input id="submit_button" type="submit" name="submit" value="Submit">
        </form>
        <a id="login_to_com" href="/login"><h3>Log in to comment</h3></a>

    </div>

    <!-- <div id="popup" class="overlay">
            <div class="popup">
                <h2>Incorrect Username or Password</h2>
                <a class="close" href="#popup">×</a>
                <div class="content">
                   Try again
                </div>
            </div>
        </div> -->

    <!-- IF USER HAS LOGGED IN ALLOW COMMENTING AND WELCOME THEM
        OTHERWISE SHOW THE SIGN UP BUTTON AND LOG IN TO COMMENT -->

    <script type="text/javascript">
        var user_welcome = $("#welcome_user").html();
        filter_user_welcome = user_welcome.replace(/\"/g, "");
        //IF USER HASNT LOGGED IN THEN SHOW SIGN UP BUTTON
        if (filter_user_welcome  == "Welcome ") {
            $("#welcome_user").remove();
            $("legend").remove();
            $("#logout").remove();
            $("#comments_form").remove();
            $(".container #likes").click(function(){
                alert("Log in to like a paper");
            });
            $(".container #stars").click(function(){
                alert("Log in to star");
            });

        } else {
            var user_type = $("#user_type").html();
            user_type = user_type.slice(user_type.indexOf("Welcome ",user_type.length));
            //IF THEY ARE NOT A COMMITTEE MEMBER CANT STAR
            if (user_type != 3){
                $(".container #stars").click(function(){
                    alert("Only committee members can star");
                });
            }
            //REMOVE LOGIN TO COMMENT
            $("#login_to_com").remove();
            //ELSE SHOW "WELCOME USERNAME"
            $("#register").remove();
            $("#welcome_user").html(filter_user_welcome);
            //ALLOW USERS TO ADD COMMENTS
            user = filter_user_welcome.slice(filter_user_welcome.indexOf(" ") + 1,filter_user_welcome.length)
            var url = window.location.href;
            var end_of_str = url.length;
            paperid = url.slice(url.indexOf("/individual/") + 12, end_of_str);
            document.getElementById("comments_form").action = "http://localhost:3000/papers/addcomment/" + paperid + "/" + user;
        }
    </script>
    
    <h2></h2>
        
    <div class="page_bottom">
    <a href="#top">Back to top</a>
    </div>
        
</body>
</html>