<!DOCTYPE html>
<html>
   
<head>
    <title>QuantumFy</title>
    <link href="../../public/css/style.css" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
    <meta name="keywords" content="papers,blog,login">
    <meta name="author" content="Liandra Giacomine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    
<body>
 
<!-- ******* HEADER ********* -->
<header>
    <div id="header">
            
    <!-- Title -->
    <div id="above_menu">
    <h2 id="title">QuantumFy</h2>

    <!-- Welcome/Register Section -->
    
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <br>
        <a id="logout" href="/logout"><i>Log out</i></a>
        <div align="right" id="register">
            <a href="/register"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>

    <!-- Show section according with if user if logged in -->
    <script type="text/javascript">
        var user_welcome = $("#welcome_user").html();
        filter_user_welcome = user_welcome.replace(/\"/g, "");
        //IF USER IS NOT LOGGED IN SHOW BUTTON
        if (filter_user_welcome  == "Welcome ") {
            $("#welcome_user").remove();
            $("#logout").remove();
         //IF USER IS LOGGED IN SHOW WELCOME AND LOGOUT OPTION
        } else {
            $("#register").remove();
            $("#welcome_user").html(filter_user_welcome);
        }

    </script>

    <!-- End of top section -->

<hr class="menu_spacing">
    
<!-- Menu -->
    
<nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/papers/index">Papers</a></li>
        <li><a href="/blog">Blog</a></li>
        <div class="dropdown_menu_login">
            <button class="login_button"><a href="/login">Login</a></button>
              <div class="login_content">
                <a href="/register">Register</a>
        </div>
        <li><a href="/about" class="active">About</a></li>
    </ul>
</nav>    
    
<!-- Search Bar -->
    
<div align="middle" id="main_search">
<form action="search.php" method="get">
<input type="search" name="search" id="main_search_box" placeholder="Search..." />
<button type="submit" value="Search" id="main_search_button"><img src="../../public/img/search_button.svg" alt="Register" height="15" width="15"></button>
</form>
</div>
    
</div>
</header>
    
<!-- SPACING so that content appears below menu -->

<div id="about_space"></div>
    
<!-- ****** END OF HEADER ***** -->  
    
<section id="about_border">
    <h1><u><p>Description of what's available</p></u></h1>

    <p><b>QuantumFy</b> is a website designed and created to keep you up to date with the latest discoveries and discussions of Quantum Physics. Here you will be able to read, discuss, comment and rank the most recent papers. </p>
    
    <p>Find below information on the following pages on this website: <a href="about.php#papers">Papers,</a> <a href="about.php#blog"> Blog </a>and how to<a href="about.php#register"> Register.</a></p>
    

    <h2 id="papers">Papers</h2>
        
    <p>The Papers Page contains a <b>ranked list of papers</b> in 8 distinct specified areas, with golden stars being given by specialised members of our committee and likes by members of the public to these. It is possible to<i> contribute to our community</i> and rank papers by becoming a member, however this requires you to have an institutional email address. This is so that we can keep the website as professional as possible.</p>
    
    <br>
    
    <ul>
        <li><a href="papers/metrology.php">Quantum Sensing and Metrology</a></li>
        <li><a href="papers/thermodynamics.php">Quantum Thermodynamics</a></li>
        <li><a href="papers/cryptography.php">Quantum Cryptography</a></li>
        <li><a href="papers/shannon.php">Quantum Shannon Theory</a></li>
        <li><a href="papers/computing.php">Quantum Computing</a></li>
        <li><a href="papers/black_hole.php">Relativistic and Black-Hole Quantum Information</a></li>
        <li><a href="papers/correlations.php">Quantum Correlations</a></li>
    </ul>
   
  
    <h2 id="blog">Blog</h2>
    
    <p>Check out our <em><a href="blog">blog</a></em> for the <i>latest announcements, hot discussion topics and to ask or answer questions.</i></p>
  
    
    <h2 id="register">Register</h2>
    
    <p>Becoming a member is simple, all you need is an <b>institutional email address</b>. <a href="register.php">Click here to register.</a></p>

</section> 
    
<div class="page_bottom">
<a href="#top">Back to top</a>
</div>
</body>

	
</html>
