<!DOCTYPE html>
<html>
   
<head>
    <title>QuantumFy</title>
    <link href="../../public/css/style.css" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
    <meta name="keywords" content="papers,blog,login">
    <meta name="author" content="Liandra Giacomine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../public/js/blog.js" ></script>
</head>
    
<body>

<!-- ******* HEADER ********* -->
<header>
<div id="header">

<!-- Title -->
<div id="above_menu">
<h2 id="title">QuantumFy</h2>

    <!-- Welcome/Register Section -->
    
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <br>
        <a id="logout" href="/logout"><i>Log out</i></a>
        <div align="right" id="register">
            <a href="/register"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>

    <!-- End of top section -->
<hr class="menu_spacing">
    
<!-- Menu -->
    
<nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/papers/index">Papers</a></li>
            <li><a href="/blog" class="active">Blog</a></li>
            <div class="dropdown_menu_login">
                <button class="login_button"><a href="/login">Login</a></button>
                  <div class="login_content">
                    <a href="/register">Register</a>
            </div>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>     
<!-- Search Bar -->
    
<div align="middle" id="main_search">
<form action="search.php" method="get">
<input type="search" name="search" id="main_search_box" placeholder="Search..." />
<button type="submit" value="Search" id="main_search_button"><img src="../../public/img/search_button.svg" alt="Register" height="15" width="15"></button>
</form>
</div>
</div>
</header>
    
<!-- SPACING so that content appears below menu -->

<div id="blog_space"></div>
    
<!-- ****** END OF HEADER ***** -->  
        
<div id="blog_margin">
<b>BLOG</b><button id="post_question_button"><a href="#ask_question">Write a post</a></button>

<div class="section_border">
<div id="blog_table">
    <h2 class="section_title">Announcements</h2>
    <hr>
    <div class="table">
    <table>
        <thead>
            <tr>
                <th>Post</th>
                <th>Answers</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="" class="table_link">question</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="" class="table_link">question</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="" class="table_link">question</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="" class="table_link">question</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</div>

<section class="topic_section">
    <div id="blog_post_table">
    </div>
</section>


<hr>
<div id="post_question">
    <legend><h3 id="ask_question">Write your blog post</h3></legend>
    <form id="blog_form" action="" method="post">
    <textarea name="blog_post" cols="60" rows="10"></textarea><br>
    <input type="submit" name="submit" value="Submit">
    </form>

    <a id="login_to_blog" href="/login"><h3>Log in to post</h3></a>
</div>

<!-- IF USER HAS LOGGED IN ALLOW COMMENTING AND WELCOME THEM
OTHERWISE SHOW THE SIGN UP BUTTON AND LOG IN TO COMMENT -->

<script type="text/javascript">

    var user_welcome = $("#welcome_user").html();
    filter_user_welcome = user_welcome.replace(/\"/g, "");
    //IF USER HASNT LOGGED IN THEN SHOW SIGN UP BUTTON
    if (filter_user_welcome  == "Welcome ") {
        $("#welcome_user").remove();
        $("legend").remove();
        $("#blog_form").remove();
        $("#logout").remove();
    } else {
        //IF USER IS LOGGED IN
        //REMOVE LOGIN TO COMMENT
        $("#login_to_blog").remove();
        //ELSE SHOW "WELCOME USERNAME"
        $("#register").remove();
        $("#welcome_user").html(filter_user_welcome);
        //ALLOW USERS TO ADD COMMENTS
        user = filter_user_welcome.slice(filter_user_welcome.indexOf(" ") + 1,filter_user_welcome.length)
        var d = new Date();
        date = d.getDate() + "-" + d.getMonth() + "-" + d.getFullYear();
        document.getElementById("blog_form").action = "http://localhost:3000/blog/addpost/" + user + "/" + date;
    }

</script>

<div class="page_bottom">
<a href="#top">Back to top</a>
</div>
</div>
    
</body>
</html>
