<!DOCTYPE html>
<html>
   
    <head>
        <title>QuantumFy</title>
        <link href="../../public/css/style.css" type="text/css" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
        <meta name="keywords" content="papers,blog,login">
        <meta name="author" content="Liandra Giacomine">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

<body>
    
    
<!-- ******* HEADER ********* -->
<header>
<!-- Register button -->
<div id="header">
    
<!-- Title -->
<div id="above_menu">
<h2 id="title">QuantumFy</h2>
    <!-- Welcome/Register Section -->
    
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <br>
        <a id="logout" href="/logout"><i>Log out</i></a>
        <div align="right" id="register">
            <a href="/register/user"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>

    <!-- End of top section -->
<hr class="menu_spacing">
    
<!-- Menu -->
<nav class="menu">
    <ul>
        <li><a class="home_href" href="/">Home</a></li>
        <li><a href="/papers/index">Papers</a></li>
        <li><a href="/committee/index">Committee</a></li>
        <li><a href="/summaries/index" class="within_menuspace_s">Summaries</a></li>
        <li><a href="/blog/index" class="within_menuspace_b">Blog</a></li>
        <div class="dropdown_menu_login">
            <a href="/login/user" id="login_button" class="login_href">Login</a>
            <div class="login_content">
                <a href="/register/user">Register</a>
            </div>
        </div>
    </ul>
</nav>  
<!-- Search Bar -->
    
<div align="middle" id="main_search">
    <form class="search_form" method="get">
    <input type="search" name="search" id="main_search_box" placeholder="Search..." />
    <button id="main_search_button"><img src="../../public/img/search_button.svg" alt="Register" height="15" width="15"></button>
    </form>
</div>

</header>
    
<!-- SPACING so that content appears below menu -->
<b id="user_type"><%= JSON.stringify(user_type) %></b>
<b id="committee"> <%= JSON.stringify(committee) %></b>
<div id="home_space"></div>
    
<!-- ****** END OF HEADER ***** -->  

<div id="desc_div_1">
    <!-- <img src="../../public/img/board.jpg" alt="Board" width="100%" height="400px"> -->
    <div id="desc_1"><b>QuantumFy </b><br><br><i>A platform providing interaction between academics through the evaluation of scientific papers.<i></div>    
</div>

<div id="home_papers">
    <hr>
    <p class="home_header">Services</p>
    <hr>
    <p class="home_name"><a href="/papers/index">A table of daily updated scientific papers</a></p>
    <div class="header_description">
    <p>Daily retrieval of papers from arxiv.org, providing a wide range to choose from...</p>
    </div>
    <div class="header_images">
    <img class="homepage_img" src="../../public/img/paper_table.png" alt="table">
    </div>
    <p class="home_name">Find out more by clicking on the title</p>
    <div class="header_description">
    <p>If you see a paper you like the look of, you can access more information about it by clicking on the title,
        such as the authors, type, PDF link, comments and likes.
    </p>
    </div>
    <div class="header_images">
    <img class="homepage_img" src="../../public/img/paper_description.png" alt="table">
    </div>
    <hr>
    <p class="home_header">Community Interaction</p>
    <hr>
    <p class="home_name">Comment or like a paper</p>
    <div class="header_description">
    <p>All registered users can COMMENT on papers and users registered under an institutional email address can also LIKE a paper.</p>
    </div>
    <div class="header_images">
    <img class="homepage_img" src="../../public/img/like_comment.png" alt="table">
    </div>
    <hr>
    <p class="home_header">Academic Contribution</p>
    <hr>
    <p class="home_name">Read popular summaries written by authors themselves</p>
    <div class="header_description">
    <p>If registered as an author, you can write a popular summary on your paper which if accepted is shown in our blog</p>
    </div>
    <p class="home_name">Ranking provided by specilised committee members</p>
    <div class="header_description">
    <p>Committee members can STAR papers. All papers are then ranked in the Papers page and in Rankings in blog, they are ranked out of papers liked by the specified committee</p>
    </div>
    <p class="home_name">Read news posts</p>
    <div class="header_description">
    <p>Announcements, articles and any other form of information is announced in the News section of the Blog</p>
    </div>
</div>
    

<div class="page_bottom">
<a href="#top">Back to top</a>
</div>

    <!-- Show section according with if user if logged in -->
    <script type="text/javascript">
        var user_welcome = $("#welcome_user").html();
        filter_user_welcome = user_welcome.replace(/\"/g, "");
        //IF USER IS NOT LOGGED IN SHOW BUTTON
        if (filter_user_welcome  == "Welcome ") {
            $("#welcome_user").remove();
            $("#logout").remove();
         //IF USER IS LOGGED IN SHOW WELCOME AND LOGOUT OPTION
        } else {
            $(".login_href").attr("href","/login/logout_first");
            $("#register").remove();
            $("#welcome_user").html(filter_user_welcome);
        }

        //SEARCH SCRIPT
        $("#main_search_button").click(function(){
            var keyword = $("#main_search_box").val();
            window.open("/papers/search/" + keyword);
        });

    </script>

    
</body>
</html>
