<!DOCTYPE html>
<html>
   
    <head>
        <title>QuantumFy</title>
        <link href="../../public/css/style.css" type="text/css" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
        <meta name="keywords" content="papers,blog,login">
        <meta name="author" content="Liandra Giacomine">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

<body>
    
    
<!-- ******* HEADER ********* -->
<header>
<!-- Register button -->
<div id="header">
    
<!-- Title -->
<div id="above_menu">
<h2 id="title">QuantumFy</h2>
    <!-- Welcome/Register Section -->
    
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <br>
        <a id="logout" href="/logout"><i>Log out</i></a>
        <div align="right" id="register">
            <a href="/register/user"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>

    <!-- Show section according with if user if logged in -->
    <script type="text/javascript">
        var user_welcome = $("#welcome_user").html();
        filter_user_welcome = user_welcome.replace(/\"/g, "");
        //IF USER IS NOT LOGGED IN SHOW BUTTON
        if (filter_user_welcome  == "Welcome ") {
            $("#welcome_user").remove();
            $("#logout").remove();
         //IF USER IS LOGGED IN SHOW WELCOME AND LOGOUT OPTION
        } else {
            $("#register").remove();
            $("#welcome_user").html(filter_user_welcome);
        }

    </script>

    <!-- End of top section -->
<hr class="menu_spacing">
    
<!-- Menu -->
<nav class="menu">
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/papers/index">Papers</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/committee">Committee</a></li>
        <div class="dropdown_menu_login">
            <button class="login_button"><a href="/login/user" >Login</a></button>
              <div class="login_content">
                <a href="/register/user">Register</a>
        </div>
    </ul>
</nav> 
<!-- Search Bar -->
    
<div align="middle" id="main_search">
    <form method="get">
    <input type="search" name="search" id="main_search_box" placeholder="Search..." />
    <button type="submit" value="Search" id="main_search_button"><img src="../../public/img/search_button.svg" alt="Register" height="15" width="15"></button>
    </form>
</div>

</header>
    
<!-- SPACING so that content appears below menu -->
<b id="user_type">Welcome <%= JSON.stringify(user_type) %></b>
<div id="home_space"></div>
    
<!-- ****** END OF HEADER ***** -->  

<div id="desc_div_1">
    <img src="../../public/img/board.jpg" alt="Board" style="width:80%;">
    <div id="desc_1"><b>QuantumFy</b><br><br><i>A platform providing interaction between academics through the evaluation of scientific papers.<i></div>    
</div>

<div id="home_papers">
    <p>A table of daily updated scientific papers<p>
    <img class="homepage_img" src="../../public/img/paper_table.png" alt="table" height="1%" width="80%">
    <br>
    <p>Find out more by clicking on the title<p>
    <img class="homepage_img" src="../../public/img/paper_description.png" alt="table" height="1%" width="80%">
    <br>
    <p>Read popular summaries written by the Author<p>
    <img class="homepage_img" src="../../public/img/paper_description.png" alt="table" height="1%" width="80%">
    <p>Join a committe in the area you expertise in<p>
    <img class="homepage_img" src="../../public/img/paper_table.png" alt="table" height="1%" width="80%">
    <p>Read or write in our blog<p>
    <img class="homepage_img" src="../../public/img/blog.png" alt="table" height="1%" width="80%">
</div>



    
<hr>
    

<div class="page_bottom">
<a href="#top">Back to top</a>
</div>
    
    
</body>
</html>
