<!DOCTYPE html>
<html>
   
    <head>
        <title>QuantumFy</title>
        <link href="../../public/css/style.css" type="text/css" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
        <meta name="keywords" content="papers,blog,login">
        <meta name="author" content="Liandra Giacomine">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

<body>
    
    
<!-- ******* HEADER ********* -->
<header>
<!-- Register button -->
<div id="header">
    
<!-- Title -->
<div id="above_menu">
<h2 id="title">QuantumFy</h2>
    <!-- Welcome/Register Section -->
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <div align="right" id="register">
            <a href="/register"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>

    <!-- Show section according with if user if logged in -->
    <script type="text/javascript">
        var user_welcome = $("#welcome_user").html();
        filter_user_welcome = user_welcome.replace(/\"/g, "");
        //$("#welcome_user").html(filter_user_welcome);
        if (filter_user_welcome  == "Welcome ") {
            $("#welcome_user").remove();
        } else {
            $("#register").remove();
            $("#welcome_user").html(filter_user_welcome);
        }

    </script>

    <!-- End of top section -->
<hr class="menu_spacing">
    
<!-- Menu -->
<nav class="menu">
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/papers/index">Papers</a></li>
            <li><a href="/blog">Blog</a></li>
            <div class="dropdown_menu_login">
                <button class="login_button"><a href="/login">Login</a></button>
                  <div class="login_content">
                    <a href="/register">Register</a>
            </div>
            <li><a href="/about" >About</a></li>
        </ul>
    </nav>    
<!-- Search Bar -->
    
<div align="middle" id="main_search">
    <form method="get">
    <input type="search" name="search" id="main_search_box" placeholder="Search..." />
    <button type="submit" value="Search" id="main_search_button"><img src="../../public/img/search_button.svg" alt="Register" height="15" width="15"></button>
    </form>
</div>

</header>
    
<!-- SPACING so that content appears below menu -->

<div id="home_space"></div>
    
<!-- ****** END OF HEADER ***** -->  
    
    
<!-- TABLE of best papers --> 
<div class="section_border">
    <h3 class="section_title"><b >Most Popular Papers</b></h3>
    <hr>
    <div class="table">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Gold Star</th>
                <th>Likes</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td ><a href="" class="table_link"></a></td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="" class="table_link">title</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="" class="table_link">title</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="" class="table_link">title</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<!-- ***** END of table ***** -->
    
<!-- TABLE of best blog posts -->
<div class="section_border">
    <h3 class="section_title">What everyone has been talking about...</h3>
    <hr>
    <div class="table">
    <table>
        <thead>
            <tr>
                <th>Post</th>
                <th>Answers</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="" class="table_link">question</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="" class="table_link">question</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="" class="table_link">question</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="" class="table_link">question</a></td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<!-- end of table -->
    

<div class="section_border">
<h3 class="section_title">A video on how to make the most of this website<hr>
<video width="400" height="300" preload="auto">This video couldn't be loaded on your browser</video></h3>
</div>
    
<hr>
    

<div class="page_bottom">
<a href="#top">Back to top</a>
</div>
    
    
</body>
</html>
