<!DOCTYPE html>
<html>
   
    <head>
        <title>QuantumFy</title>
        <link href="../../public/css/style.css" type="text/css" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
        <meta name="keywords" content="papers,blog,login">
        <meta name="author" content="Liandra Giacomine">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../../../public/js/admin/individual_summary.js"></script>
    </head>

<body>
    
    
<!-- ******* HEADER ********* -->
<header>
<!-- Register button -->
<div id="header">
    
<!-- Title -->
<div id="above_menu">
<h2 id="title">QuantumFy</h2>
    <!-- Welcome/Register Section -->
    
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <br>
        <a id="logout" href="/logout"><i>Log out</i></a>
        <div align="right" id="register">
            <a href="/register/user"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>


    <!-- End of top section -->
<hr class="menu_spacing">
    
<!-- Menu -->
<nav class="menu">
    <ul>
        <li><a class="home_href" href="/">Home</a></li>
        <li><a href="/papers/index">Papers</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/committee">Committee</a></li>
        <div class="dropdown_menu_login">
            <button class="login_button"><a href="/login/user" class="login_href">Login</a></button>
              <div class="login_content">
                <a href="/register/user">Register</a>
        </div>
    </ul>
</nav>  
<!-- Search Bar -->
    
<div align="middle" id="main_search">
    <form method="get">
    <input type="search" name="search" id="main_search_box" placeholder="Search..." />
    <button type="submit" value="Search" id="main_search_button"><img src="../../public/img/search_button.svg" alt="Register" height="15" width="15"></button>
    </form>
</div>

</header>
<!-- SPACING so that content appears below menu -->
<b id="user_type"><%= JSON.stringify(user_type) %></b>
<div id="admin_space"></div>

<div class="admin-menu">
        <a href="/admin/index">Home</a>
        <a class="admin_menu" href="/admin/committee">Committee</a>
        <a class="admin_menu" href="/admin/summaries" id="active">Summaries</a>
        <a class="admin_menu" href="/admin/news">News</a>
        <a class="admin_menu" href="/admin/manage_admin">Admin</a>
        <a class="admin_menu" href="/logout">Log out</a>
</div>

<!-- INFORMATION ABOUT THE SUMMARY -->
<div id="individual_summary">
        <h2 class="paper_title"></h2>
        <h4 class="author_name"></h4>
        <h4 class="author_email"></h4>
        <h4 class="summary_description"></h4>
        <h5 class="date"></h5>
        <br>
        <button id="accept_summary">Accept</button>
        <button id="delete_summary">Reject</button>
</div>

<!-- ADMIN CAN ACCEPT OR REJECT SUMMARY -->

    
<script>

var user_welcome = $("#welcome_user").html();
        filter_user_welcome = user_welcome.replace(/\"/g, "");
        //IF USER IS NOT LOGGED IN SHOW BUTTON
        if (filter_user_welcome  == "Welcome ") {
            $("#welcome_user").remove();
            $("#logout").remove();
         //IF USER IS LOGGED IN SHOW WELCOME AND LOGOUT OPTION
        } else {
            $(".login_href").attr("href","/login/logout_first");
            $("#register").remove();
            $("#welcome_user").html(filter_user_welcome);
        }

    $("#individual_summary").css({"margin-top":"50px","margin-right":"50px","margin-left":"200px"});
    $("#accept_summary").css({"background-color":"lightgreen","font-size":"1.2em","margin":"20px","margin-left":"10%","padding":"20px","font-weight":"bold"});
    $("#delete_summary").css({"background-color":"red","font-size":"1.2em","margin":"20px","margin-left":"10%","font-weight":"bold","padding":"20px"});
    //SEARCH SCRIPT 
            
        $("#main_search_button").click(function(){
            var keyword = $("#main_search_box").val();
            window.open("/papers/search/" + keyword);
        });
        
        user_type = $("#user_type").html();

        if (user_type < 3) {
            window.location = "/logout";
        }
            //If its an admin user then link home to admin home
    if (user_type > 2) {
        $(".home_href").attr("href", "/admin/index");
    }

    
</script>
    
</body>
</html>
