<!DOCTYPE html>
<html>
   
    <head>
        <title>QuantumFy</title>
        <link href="../../../public/css/style.css" type="text/css" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
        <meta name="keywords" content="papers,blog,login">
        <meta name="author" content="Liandra Giacomine">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../../../public/js/admin/individual_committee.js"></script>
    </head>

<body>
    
    
<!-- ******* HEADER ********* -->
<header>
<!-- Register button -->
<div id="header">
    
<!-- Title -->
<div id="above_menu">
    <h2 id="title">QuantumFy</h2><!-- Welcome/Register Section -->
    
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <br>
        <a id="logout" href="/logout"><i>Log out</i></a>
        <div align="right" id="register">
            <a href="/register/user"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>


    <!-- End of top section -->
<hr class="menu_spacing">
    
<!-- Menu -->
<nav class="menu">
        <ul>
            <li><a class="home_href" href="/">Home</a></li>
            <li><a href="/papers/index">Papers</a></li>
            <li><a href="/committee/index">Committee</a></li>
            <li><a href="/summaries/index" class="within_menuspace_s">Summaries</a></li>
            <li><a href="/blog/index" class="within_menuspace_b">Blog</a></li>
            <div class="dropdown_menu_login">
                <a href="/login/user" id="login_button" class="login_href">Login</a>
                <div class="login_content">
                    <a href="/register/user">Register</a>
                </div>
            </div>
            <li class="user_page_link"><a href="/user/index" class="user_page_link">User</a></li>
        </ul>
    </nav>  
<!-- Search Bar -->
    
<div align="middle" id="main_search">
    <form method="get">
    <input type="search" name="search" id="main_search_box" placeholder="Search..." />
    <button type="submit" value="Search" id="main_search_button"><img src="../../../public/img/search_button.svg" alt="Register" height="15" width="15"></button>
    </form>
</div>

</header>
<!-- SPACING so that content appears below menu -->
<b id="user_type"><%= JSON.stringify(user_type) %></b>
<div id="admin_space"></div>

<div class="admin-menu">
    <a href="/admin/index">Home</a>
    <a class="admin_menu" href="/admin/committee" id="active">Committee</a>
    <a class="admin_menu" href="/admin/summaries">Summaries</a>
    <a class="admin_menu" href="/admin/blog">Blog</a>
    <a class="admin_menu" href="/admin/manage_admin">Admin</a>
    <a class="admin_menu" href="/logout">Log out</a>
</div>

<!-- COMMITTEE Information/Add member section -->
<h2 id="committee_a_name"></h2>
<div id="committee_a_information">
    <h4 style="font-weight: lighter; margin-bottom: 50px">Add member to committee:</h4>
        <datalist class="datalist1" style="margin-left: 50px">
            <select id="all_members">
            </select>
        </datalist>
        <button id="add_button" align="right"><i>Add</i></button></a>
        <button id="delete_button" align="right"><i>Delete</i></button></a>
</div>
<div id="committee_a_members">
<h2>Members</h2>
<ul id="committee_members"></ul>
<button id="delete_committee" align="right"><i>DELETE COMMITTEE</i></button></a>
</div>

    <!-- Show section according with if user if logged in -->
<script type="text/javascript">
        var user_welcome = $("#welcome_user").html();
        filter_user_welcome = user_welcome.replace(/\"/g, "");
        //IF USER IS NOT LOGGED IN SHOW BUTTON
        if (filter_user_welcome  == "Welcome ") {
            $("#welcome_user").remove();
            $("#logout").remove();
         //IF USER IS LOGGED IN SHOW WELCOME AND LOGOUT OPTION
         $(".user_page_link").remove();
    } else {
        $(".dropdown_menu_login").remove();
            $(".login_href").attr("href","/login/logout_first");
            $("#register").remove();
            $("#welcome_user").html(filter_user_welcome);
        }

    //CSS USING JAVASCRIPT
    var url = window.location.href;
    var end_of_str = url.length;
    committee_name_id = url.slice(url.indexOf("/manage_committee/") + 18, end_of_str);
    committee_name = committee_name_id.slice(0,committee_name_id.indexOf("/"));
    committee_name =  committee_name.replace("_"," ");
    committee_name =  committee_name.replace("%20"," ");
    committee_id = committee_name_id.slice(committee_name_id.indexOf("/")+1, end_of_str);
    $("#committee_a_name").html(committee_name.toUpperCase());
    $("#committee_a_name").css({"margin-left":"40%","margin-top":"25px","font-family":"Arial"});
    $("#committee_a_information").css({"margin-left":"40%","margin-top":"30px"});
    $("#add_button").css({"padding":"5px 10px","background-color":"blue","color":"white","margin-right":"50px","margin-top":"40px","font-size":"1em","font-family":"Arial"});
    $("#delete_button").css({"padding":"5px 10px","background-color":"red","color":"white","font-size":"1em","font-family":"Arial"});
    $("#delete_committee").css({"padding":"5px","background-color":"#D4AF37","color":"white","margin-top":"100px","font-size":"1em"});
    $("#committee_a_members").css({"margin-left":"43%","margin-top":"50px","text-decoration":"underline"});
    //AJAX TO ADD MEMBER TO COMMITTEE ON CLICKING "ADD" BUTTON
    $("#add_button").click(function() {
        member = $("#all_members").val();
        if (confirm("Are you sure you would like to add " + member + " to the admin list?")) {
            $.ajax({
            type: "POST",
            url: "/committee/addmember/" + committee_id + "/" + member,
            dataType: "JSON", // data type expected from server
            success: function () {
                //Call function to add paper returned to page
            },
            error: function(err) {
                console.log('Error: ' + err);
            }
            });

            $.ajax({
            type: "POST",
            url: "/user/add/committee/" + committee_id + "/" + member,
            dataType: "JSON", // data type expected from server
            success: function () {
                //Call function to add paper returned to page
            },
            error: function(err) {
                console.log('Error: ' + err);
            }
            });
        }
        window.location.reload(true);
    });

    //AJAX TO DELETE MEMBER FROM COMMITTEE ON CLICKING "DELETE" BUTTON
    $("#delete_button").click(function() {
        member = $("#all_members").val();
        if (confirm("Are you sure you would like to remove " + member + " from the admin list?")) {
            $.ajax({
            type: "POST",
            url: "/committee/delete/" + committee_id + "/" + member,
            dataType: "JSON", // data type expected from server
            success: function () {
                //Call function to add paper returned to page
            },
            error: function(err) {
                console.log('Error: ' + err);
            }
            });
        
            $.ajax({
            type: "POST",
            url: "/user/delete/committee/" + member,
            dataType: "JSON", // data type expected from server
            success: function () {
                //Call function to add paper returned to page
            },
            error: function(err) {
                console.log('Error: ' + err);
            }
            })
        }
        window.location.reload(true);
    });

    //AJAX TO DELETE COMMITTEE
    $("#delete_committee").click(function() {
        if (confirm("Are you sure you would like to delete this committee?")) {
        $.ajax({
            type: "POST",
            url: "/delete/committee/" + committee_id,
            dataType: "JSON", // data type expected from server
            success: function () {
                //Call function to add paper returned to page
                },
                error: function(err) {
                    console.log('Error: ' + err);
                }
        });
        }
        window.location.replace("/admin/committee");
    });

    user_type = $("#user_type").html();
    
    if (user_type < 3) {
        window.location = "/logout";
    }

        //If its an admin user then link home to admin home
    if (user_type > 2) {
        $(".home_href").attr("href", "/admin/index");
    }


</script>

</body>
</html>
