<!DOCTYPE html>
<html>
   
    <head>
        <title>QuantumFy</title>
        <link href="../../public/css/style.css" type="text/css" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="description" content="Discussion and ranking of contemporary papers on Quantum Physics">
        <meta name="keywords" content="papers,blog,login">
        <meta name="author" content="Liandra Giacomine">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../../../public/js/admin/manage_admin.js" ></script>
    </head>

<body>
    
    
<!-- ******* HEADER ********* -->
<header>
<!-- Register button -->
<div id="header">
    
<!-- Title -->
<div id="above_menu">
    <h2 id="title">QuantumFy</h2><!-- Welcome/Register Section -->
    
    
    <div align="right" id="top">
        <b id="welcome_user">Welcome <%= JSON.stringify(user) %></b>
        <br>
        <a id="logout" href="/logout"><i>Log out</i></a>
        <div align="right" id="register">
            <a href="/register/user"><button align="right"><i>Sign up</i></button></a>
        </div>
    </div>
    </div>


    <!-- End of top section -->
<hr class="menu_spacing">
    
<!-- Menu -->
<nav class="menu">
        <ul>
            <li><a class="home_href" href="/">Home</a></li>
            <li><a href="/papers/index">Papers</a></li>
            <li><a href="/committee/index">Committee</a></li>
            <li><a href="/summaries/index" class="within_menuspace_s">Summaries</a></li>
            <li><a href="/blog/index" class="within_menuspace_b">Blog</a></li>
            <div class="dropdown_menu_login">
                <a href="/login/user" id="login_button" class="login_href">Login</a>
                <div class="login_content">
                    <a href="/register/user">Register</a>
                </div>
            </div>
            <li class="user_page_link"><a href="/user/index" class="user_page_link">User</a></li>
        </ul>
    </nav>  
<!-- Search Bar -->
    
<div align="middle" id="main_search">
    <form method="get">
    <input type="search" name="search" id="main_search_box" placeholder="Search..." />
    <button type="submit" value="Search" id="main_search_button"><img src="../../public/img/search_button.svg" alt="Register" height="15" width="15"></button>
    </form>
</div>

</header>
<!-- SPACING so that content appears below menu -->
<b id="user_type"><%= JSON.stringify(user_type) %></b>
<div id="admin_space"></div>

<div class="admin-menu">
    <a href="/admin/index">Home</a>
    <a class="admin_menu" href="/admin/committee" >Committee</a>
    <a class="admin_menu" href="/admin/summaries">Summaries</a>
    <a class="admin_menu" href="/admin/blog">Blog</a>
    <a class="admin_menu" href="/admin/manage_admin" id="active">Admin</a>
    <a class="admin_menu" href="/logout">Log out</a>
</div>

<!-- CONTENT -->
<div id="committee_a_information">
    <p>Add admin:</p>
        <datalist class="datalist1" style="margin-bottom: 50px;margin-left: 10px">
            <select id="all_members">
            </select>
        </datalist>
        <button id="add_admin_button" align="right"><i>Add</i></button></a>
        <button id="delete_admin_button" align="right"><i>Delete</i></button></a>
</div>

<div>
        <h2>Members</h2>
</div>

    <!-- SEARCH SCRIPT -->
    <script>
        var user_welcome = $("#welcome_user").html();
        filter_user_welcome = user_welcome.replace(/\"/g, "");
        //IF USER IS NOT LOGGED IN SHOW BUTTON
        if (filter_user_welcome  == "Welcome ") {
            $("#welcome_user").remove();
            $("#logout").remove();
         //IF USER IS LOGGED IN SHOW WELCOME AND LOGOUT OPTION
         $(".user_page_link").remove();
    } else {
        $(".dropdown_menu_login").remove();
            $(".login_href").attr("href","/login/logout_first");
            $("#register").remove();
            $("#welcome_user").html(filter_user_welcome);
        }

        user_type = $("#user_type").html();
        if (user_type == 4) {
            $("#add_admin_button").click(function(){
                email = $("#all_members").val();
                $.ajax({
                    type: "POST",
                    url: "/admin/add_admin/" + email,
                    dataType: "JSON", // data type expected from server
                    success: function () {

                    },
                    error: function(err) {
                    } 
                });
                location.reload();
            });

            $("#delete_admin_button").click(function(){
                email = $("#all_members").val();
                $.ajax({
                    type: "POST",
                    url: "/admin/delete_admin/" + email,
                    dataType: "JSON", // data type expected from server
                    success: function () {

                    },
                    error: function(err) {
                    } 
                });
                location.reload();
            });
        }

        $("#main_search_button").click(function(){
            var keyword = $("#main_search_box").val();
            window.open("/papers/search/" + keyword);
        });

        if (user_type < 4) {
            window.location = "/logout";
        }
        
        //If its an admin user then link home to admin home
        if (user_type > 2) {
            $(".home_href").attr("href", "/admin/index");
        }

    $("#add_admin_button").css({"padding":"5px","background-color":"violet","color":"white","margin-left":"20px","font-size":"1em"});
    $("#delete_admin_button").css({"padding":"5px","background-color":"black","color":"white","margin-left":"20px","font-size":"1em"});
   
    </script>

    
    
</body>
</html>
